/* styles-dark.css */

.container{
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(118,9,121,1) 100%);
  color: white; 

  .home{
    color: white;
    .links{
      u {
        li{
          
          border-color: white;
          box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.897);
        }
      }
    }

    .surprise{
      color: white;
    }
    
  }


  .form-group{
    
    .campo{
      .error{
        border: 2px solid rgb(228, 104, 104);
    }
    }
  }
}



