/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './assets/dark-theme.scss';


html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    color: black;
    font-size: 16px;
    background: linear-gradient(0deg, rgba(202,166,204,1) 0%, rgba(243,243,244,1) 50%, rgba(202,166,204,1) 100%);
}

.route-fade-enter-active,
.route-fade-leave-active {
  transition: opacity 0.5s;
}

.route-fade-enter, .route-fade-leave-to {
  opacity: 0;
}

